<div class="rsvp contentWrapper">
  <div class="content">
    <div class="form-group">
      <div ng-hide="showComplete">

        <div class="formBox" ng-show="showStepOne">
          <h2>
            Hello!
          </h2>
          <p> Enter your email to start the RSVP process. If you have RSVP'd before you can enter your email information again to adjust those information </p>
          <h2>
            Step 1: Enter Your Email
          </h2>
          <form novalidate>
          <label>Email:</label>
          <input type="email" ng-model="email" class="form-control forminput" required>
          <input type='submit' class = "btn btn-success formbutton" ng-click="submitEmail()">
          </form>
        </div>

        <div class="formBox" ng-show="showStepTwo"> 
          <h2>
            Step 2: General Information
          </h2>
          <form>
            <label>Your First Name:</label>
            <input type="text" ng-model="firstname" class="forminput" required><br>

            <label>Your Last Name:</label>
            <input type="text" ng-model="lastname" class="forminput" required><br>

            <label>Number of guests other than yourself:</label>
            <input type="number" ng-model="guests" class="forminput" required><br>

            <input type="submit" class="btn btn-success formbutton" ng-click="submitRSVP()">
            </input>
          </form>
        </div>

        <div class="formBox" ng-show="showStepThree">
          <h2>
            Step 3: Additional Guests Information
          </h2>

          <form ng-repeat="guest in additionalGuestInfo">
            <h4>
              {{guest.display}}
            </h4>
            <label>First Name:</label>
            <input type="text" ng-model="guest.info.firstname" class="form-control forminput">

            <label>Last Name:</label>
            <input type="text" ng-model="guest.info.lastname" class="form-control forminput">

          </form>
          <input type="submit" class = "btn btn-success formbutton" ng-click="submitAdditionalGuest()">
        </div>
      </div>

      <div ng-show="showComplete">
        <h2>
          Thank you for RSVPing to our wedding, we look forward to seeing you there!
        </h2>
      </div>

    </div>
  </div>
</div>