/* app css stylesheet */

body {
  font-family: 'Bad Script', cursive;
}

.backgroundImage {
  background-image: url("img/background.jpg");
  height: 725px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body .invitation {
  position: absolute;
  font-size: 1.5em;
  top: 300px;
  left: 50px;
  color: #FFE0FF;
}

body .invitation a {
  font-family: 'Satisfy', cursive;
  font-size: 1.3em;
  margin: 2em;
}

.invitation h1 {
  margin-bottom: 10px;
}

.menu {
  text-align: center;
  list-style: none;
  border-bottom: 2px solid gray;
  padding-top: 1em;
  background-image: url("img/backgroundPattern.png");
  height: 110px;
  font-size: 2.2em;
  border-top: 3px solid gray;
  margin-bottom: 0px;
  font-family: 'Amatic SC', cursive;
} 

.menu a {
  color: #CCC ;
}

.menu a:hover{
  color: orange;
  font-weight: bold;
  text-decoration: none;
}

.menu a:active{
  font-size: 1em;
  text-decoration: none;
}

.menu .active {
  color: orange;
  text-decoration: none;
}

.menu a i {
  margin-left: 0.3em;
}

.menu > li {
  display: inline;
  padding-right: 4em;
}

.menu > li:before {
  padding-right: 5em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.invitation .rsvpButton {
  margin-top: 5px;
}

.rsvp .content {
  width: 80%;
  padding: 20px;
  margin: auto;
  color: #CCC;
  min-height: 400px;
  text-align: left;
}


.rsvp .formBox {
  margin: 0 auto;
  width: 80%;
}

.rsvp .formBox h2{
  margin-left: -2em;
}

.rsvp .formBox h2{
  margin-left: -1em;
}

.rsvp input {
  width: 50%;
}

.rsvp button {
  margin-top: 10px;
}

.contentWrapper{
  background-image: url("img/backgroundPattern.png");
  color:  #CCC;
  min-height: 300px;
  padding: 20px;
  margin: auto;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 5em;
}

.content {
  width: 60%;
  margin: 0 auto;
}

.content p {
  margin-top: 2em;
  text-align: left;
  font-size: 1.3em;
}

.story .btn {
  margin-top: 3em;
}

footer {
  background-image: url("img/backgroundPattern.png");
  border-top: 2px solid gray;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: #CCC;
  font-size: 1.2em;
}