/* app css stylesheet */

.backgroundImage {
  background-image: url("img/background.jpg");
  height: 725px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.invitation {
  position: absolute;
  font-size: 1.5em;
  top: 300px;
  left: 50px;
  color: #FFE0FF;
}

.invitation h1 {
  margin-bottom: 10px;
}

.menu {
  text-align: center;
  list-style: none;
  border-bottom: 0.1em solid gray;
  padding-top: 1em;
  background-color: black;
  height: 100px;
  font-size: 2em;
  border-top: 2px solid gray;
  margin-bottom: 0px;
}

.menu a {
  color: #CCC;
}

.menu > li {
  display: inline;
  padding-left: 50px;
}

.menu > li:before {
  padding-right: 1em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.invitation .rsvpButton {
  margin-top: 5px;
}

.rsvp {
  background-color: black;
}

.rsvp .content {
  width: 80%;
  padding: 20px;
  margin: auto;
  color: white;
  min-height: 600px;
}


.rsvp .formBox {
  margin: 0 auto;
  width: 80%;
}

.rsvp .formBox h2{
  margin-left: -2em;
}

.rsvp .formBox h2{
  margin-left: -1em;
}

.rsvp input {
  width: 50%;
}

.rsvp button {
  margin-top: 10px;
}

footer {
  border-top: 2px solid gray;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  font-size: 1.5em;
}