<div class="contentWrapper guests">
  <div class="content">
    <form ng-submit="submitPwd()" ng-hide = "isAuth">
      <label>secret word</label>
      <input type="text" ng-model="password">
      <input type="submit" class="btn btn-warning formbutton">
    </form>

    <div ng-show="isAuth">

      <table style="width:100% text-align:center">
        <tr>
          <th>email</th>
          <th>First Name</th> 
          <th>Last Name</th>
          <th>Permission</th>
          <th>Guests</th>
          <th>Guests Info</th>
        </tr>

        <tr ng-repeat="guest in guests">
          <td>{{guest.email}}</td>
          <td>{{guest.firstname}}</td> 
          <td>{{guest.lastname}}</td>
          <td>
            {{guest.hasPermission}}
            <button class="btn btn-warning" ng-click="changePermission(guest.email)">
              Change
            </button>
          </td>
          <td>{{guest.guests}}</td>
          <td ng-repeat="plusone in guest.guestInfo">
              {{plusone.info.firstname}}, {{plusone.info.lastname}}
          </td>

        </tr>

      </table>

    </div>
  </div>
</div>